@model Sport.Models.Treener

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Treener</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Perekonnanimi" class="control-label"></label>
                <input asp-for="Perekonnanimi" class="form-control" />
                <span asp-validation-for="Perekonnanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eesnimi" class="control-label"></label>
                <input asp-for="Eesnimi" class="form-control" />
                <span asp-validation-for="Eesnimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PalkamiseKP" class="control-label"></label>
                <input asp-for="PalkamiseKP" class="form-control" />
                <span asp-validation-for="PalkamiseKP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <label asp-for="AsutuseAssignment.Location" class="control-label"></label>
    <input asp-for="AsutuseAssignment.Location" class="form-control" />
    <span asp-validation-for="AsutuseAssignment.Location" class="text-danger" />
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    List<Sport.Models.SpordiViewModels.AssignedSpordialaData> spordialad = ViewBag.Spordialad;

                    foreach (var spordiala in spordialad)
                    {
                        if (cnt++ % 3 == 0)
                        {
                        @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox"
                                   name="selectedCourses"
                                   value="@spordiala.SpordialaID"
                                   @(Html.Raw(spordiala.Assigned ? "checked=\"checked\"" : "")) />
                            @spordiala.SpordialaID @:  @spordiala.Nimi
                        @:</td>
                    }
                @:</tr>
                }
            </table>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
