@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>SPORT</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tere tulemast!</h2>
        <p>
           Siit leheküljelt leiad erinevad spordialad, sportlased ja treenerid.
        </p>
    </div>
</div>